[signal]
#the meaning of the SIGUSR2 signal
#0:means init state
#1:means device on
#2:means device off
setting=2
connect=0

[real_time]
#use real_time or not
#0:don't use
#1:use
real_time_data=0
[collect_area]
#0x01 means DB area
#0x02 means M  area
#0x03 means I  area
#ox04 means Q  area
org_id=01

[number_area]
#the number of collection area in PLC'DB area
#the default number is two
number=1
[1]
#according to above number 
#list these area
#area	 between 1-255
#start_adddress	 between 0-2048
#len	 between 1-2048
area=64
start_address_h=00
start_address_l=00
len_h=03
len_l=43
[2]
#the same
area=64
start_address_h=00
start_address_l=00
len_h=03
len_l=43

#the tcp collection rate
#the "fast_time" is for normal collection
#the unit of measurement is us(1e-6m)
#the "slow_time" is used when the facility is down
#the unit of measurement is s
[TIME]
fast_time=500000
slow_time=5

#the shut-down variable setting
#running mean whether to use the shut-down variable
#datalength mean the byte number of the variable (bit)
#datalocation mean where the variable is started (byte)
#dataoffset is towards bit variable and mean the offset in the byte
[DEV-STAT]
running=1
datalength=32
datalocation=1000
dataoffset=0

[PLC_INFO]
plcaddress=192.168.0.1

[NTP]
ntpaddress=202.112.26.37

[SERV_ADDR]
servaddress=101.231.108.196

[ROUTER]
vpn_state=0
router_address=192.168.0.3
username=admin
password=admin
